--
-- PostgreSQL database dump
--

-- Dumped from database version 16.2
-- Dumped by pg_dump version 16.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: ltree; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS ltree WITH SCHEMA public;


--
-- Name: EXTENSION ltree; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION ltree IS 'data type for hierarchical tree-like structures';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alternativ4; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alternativ4 (
    path public.ltree NOT NULL,
    id integer NOT NULL,
    type text
);


ALTER TABLE public.alternativ4 OWNER TO postgres;

--
-- Name: alternativ4_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.alternativ4_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.alternativ4_id_seq OWNER TO postgres;

--
-- Name: alternativ4_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.alternativ4_id_seq OWNED BY public.alternativ4.id;


--
-- Name: connections4; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.connections4 (
    id integer NOT NULL,
    node1 integer,
    node2 integer
);


ALTER TABLE public.connections4 OWNER TO postgres;

--
-- Name: connections4_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.connections4_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.connections4_id_seq OWNER TO postgres;

--
-- Name: connections4_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.connections4_id_seq OWNED BY public.connections4.id;


--
-- Name: connections_for_second; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.connections_for_second (
    id integer NOT NULL,
    node1 integer NOT NULL,
    node2 integer NOT NULL
);


ALTER TABLE public.connections_for_second OWNER TO postgres;

--
-- Name: connections_for_second_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.connections_for_second_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.connections_for_second_id_seq OWNER TO postgres;

--
-- Name: connections_for_second_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.connections_for_second_id_seq OWNED BY public.connections_for_second.id;


--
-- Name: second_example_a4; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.second_example_a4 (
    id integer NOT NULL,
    type text,
    path public.ltree
);


ALTER TABLE public.second_example_a4 OWNER TO postgres;

--
-- Name: secondExampleA4_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."secondExampleA4_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."secondExampleA4_id_seq" OWNER TO postgres;

--
-- Name: secondExampleA4_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."secondExampleA4_id_seq" OWNED BY public.second_example_a4.id;


--
-- Name: type_men_ny; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.type_men_ny (
    value text NOT NULL,
    id integer NOT NULL
);


ALTER TABLE public.type_men_ny OWNER TO postgres;

--
-- Name: typeMenNy_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."typeMenNy_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."typeMenNy_id_seq" OWNER TO postgres;

--
-- Name: typeMenNy_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."typeMenNy_id_seq" OWNED BY public.type_men_ny.id;


--
-- Name: type_men_ny_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.type_men_ny_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.type_men_ny_id_seq OWNER TO postgres;

--
-- Name: type_men_ny_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.type_men_ny_id_seq OWNED BY public.type_men_ny.id;


--
-- Name: alternativ4 id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alternativ4 ALTER COLUMN id SET DEFAULT nextval('public.alternativ4_id_seq'::regclass);


--
-- Name: connections4 id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.connections4 ALTER COLUMN id SET DEFAULT nextval('public.connections4_id_seq'::regclass);


--
-- Name: connections_for_second id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.connections_for_second ALTER COLUMN id SET DEFAULT nextval('public.connections_for_second_id_seq'::regclass);


--
-- Name: second_example_a4 id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.second_example_a4 ALTER COLUMN id SET DEFAULT nextval('public."secondExampleA4_id_seq"'::regclass);


--
-- Name: type_men_ny id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.type_men_ny ALTER COLUMN id SET DEFAULT nextval('public."typeMenNy_id_seq"'::regclass);


--
-- Data for Name: alternativ4; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: connections4; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.connections4 (id, node1, node2) FROM stdin;
1	3	2
2	2	1
3	3	4
4	4	5
5	4	6
6	6	7
7	6	8
8	8	9
9	6	10
10	10	11
11	10	12
12	12	13
13	12	14
14	14	15
15	14	16
16	16	17
17	17	18
18	18	19
19	16	20
20	20	21
21	20	22
22	22	23
23	23	24
24	23	25
25	25	26
26	26	27
27	27	28
28	25	29
29	29	30
31	31	32
32	32	33
33	32	34
34	34	35
36	34	37
37	34	38
38	38	39
39	38	40
40	40	50
41	50	53
42	53	52
43	53	54
44	52	58
45	52	59
46	54	55
47	53	60
48	60	63
49	63	65
50	65	66
51	65	67
52	67	68
53	68	69
54	69	70
55	67	71
56	71	72
57	71	73
30	29	31
\.


--
-- Data for Name: connections_for_second; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.connections_for_second (id, node1, node2) FROM stdin;
1	19	20
2	20	21
3	19	22
4	20	23
5	23	24
6	24	25
7	24	26
8	26	27
9	27	28
10	28	38
11	26	29
12	29	30
13	29	31
14	31	32
15	32	33
16	32	34
17	34	35
18	34	36
19	36	37
\.


--
-- Data for Name: second_example_a4; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: type_men_ny; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.type_men_ny (value, id) FROM stdin;
WBC1	1
WBC2	2
WBC3	3
WBC4	4
QBA1	5
QBA2	6
QBA3	7
QBA4	8
UAA1	9
UAA2	10
KL1	11
KL2	12
JE1	13
JE2	14
JE3	15
KL3	16
KL4	17
\.


--
-- Name: alternativ4_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.alternativ4_id_seq', 109, true);


--
-- Name: connections4_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.connections4_id_seq', 57, true);


--
-- Name: connections_for_second_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.connections_for_second_id_seq', 19, true);


--
-- Name: secondExampleA4_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."secondExampleA4_id_seq"', 38, true);


--
-- Name: typeMenNy_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."typeMenNy_id_seq"', 17, true);


--
-- Name: type_men_ny_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.type_men_ny_id_seq', 1, false);


--
-- Name: alternativ4 alternativ4_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alternativ4
    ADD CONSTRAINT alternativ4_pkey PRIMARY KEY (id);


--
-- Name: connections4 connections4_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.connections4
    ADD CONSTRAINT connections4_pkey PRIMARY KEY (id);


--
-- Name: connections_for_second connections_for_second_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.connections_for_second
    ADD CONSTRAINT connections_for_second_pkey PRIMARY KEY (id);


--
-- Name: second_example_a4 secondExampleA4_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.second_example_a4
    ADD CONSTRAINT "secondExampleA4_pkey" PRIMARY KEY (id);


--
-- Name: type_men_ny type_men_ny_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.type_men_ny
    ADD CONSTRAINT type_men_ny_pkey PRIMARY KEY (id);


--
-- Name: type_men_ny value_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.type_men_ny
    ADD CONSTRAINT value_unique UNIQUE (value);


--
-- Name: connections4 node1_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.connections4
    ADD CONSTRAINT node1_fk FOREIGN KEY (node1) REFERENCES public.alternativ4(id) NOT VALID;


--
-- Name: connections_for_second node1_ref; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.connections_for_second
    ADD CONSTRAINT node1_ref FOREIGN KEY (node1) REFERENCES public.second_example_a4(id) NOT VALID;


--
-- Name: connections4 node2_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.connections4
    ADD CONSTRAINT node2_fk FOREIGN KEY (node2) REFERENCES public.alternativ4(id) NOT VALID;


--
-- Name: connections_for_second node2_ref; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.connections_for_second
    ADD CONSTRAINT node2_ref FOREIGN KEY (node2) REFERENCES public.second_example_a4(id) NOT VALID;


--
-- Name: second_example_a4 type; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.second_example_a4
    ADD CONSTRAINT type FOREIGN KEY (type) REFERENCES public.type_men_ny(value) NOT VALID;


--
-- Name: alternativ4 type_value; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alternativ4
    ADD CONSTRAINT type_value FOREIGN KEY (type) REFERENCES public.type_men_ny(value) NOT VALID;


--
-- PostgreSQL database dump complete
--

