--
-- PostgreSQL database dump
--

-- Dumped from database version 16.2
-- Dumped by pg_dump version 16.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: ltree; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS ltree WITH SCHEMA public;


--
-- Name: EXTENSION ltree; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION ltree IS 'data type for hierarchical tree-like structures';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alternativ4; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alternativ4 (
    path public.ltree NOT NULL,
    id integer NOT NULL,
    type text
);


ALTER TABLE public.alternativ4 OWNER TO postgres;

--
-- Name: alternativ4_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.alternativ4_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.alternativ4_id_seq OWNER TO postgres;

--
-- Name: alternativ4_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.alternativ4_id_seq OWNED BY public.alternativ4.id;


--
-- Name: connections4; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.connections4 (
    id integer NOT NULL,
    node1 integer,
    node2 integer
);


ALTER TABLE public.connections4 OWNER TO postgres;

--
-- Name: connections4_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.connections4_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.connections4_id_seq OWNER TO postgres;

--
-- Name: connections4_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.connections4_id_seq OWNED BY public.connections4.id;


--
-- Name: connections_2; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.connections_2 (
    node1 integer NOT NULL,
    node2 integer NOT NULL,
    "ID" integer NOT NULL
);


ALTER TABLE public.connections_2 OWNER TO postgres;

--
-- Name: connections_2_ID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."connections_2_ID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."connections_2_ID_seq" OWNER TO postgres;

--
-- Name: connections_2_ID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."connections_2_ID_seq" OWNED BY public.connections_2."ID";


--
-- Name: object_table_2; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.object_table_2 (
    "RD" public.ltree NOT NULL,
    "ID" integer NOT NULL,
    type text
);


ALTER TABLE public.object_table_2 OWNER TO postgres;

--
-- Name: object_table_2_ID_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."object_table_2_ID_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."object_table_2_ID_seq" OWNER TO postgres;

--
-- Name: object_table_2_ID_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."object_table_2_ID_seq" OWNED BY public.object_table_2."ID";


--
-- Name: type_table; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.type_table (
    value text NOT NULL,
    id integer NOT NULL
);


ALTER TABLE public.type_table OWNER TO postgres;

--
-- Name: typeMenNy_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."typeMenNy_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."typeMenNy_id_seq" OWNER TO postgres;

--
-- Name: typeMenNy_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."typeMenNy_id_seq" OWNED BY public.type_table.id;


--
-- Name: type_men_ny_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.type_men_ny_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.type_men_ny_id_seq OWNER TO postgres;

--
-- Name: type_men_ny_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.type_men_ny_id_seq OWNED BY public.type_table.id;


--
-- Name: alternativ4 id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alternativ4 ALTER COLUMN id SET DEFAULT nextval('public.alternativ4_id_seq'::regclass);


--
-- Name: connections4 id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.connections4 ALTER COLUMN id SET DEFAULT nextval('public.connections4_id_seq'::regclass);


--
-- Name: connections_2 ID; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.connections_2 ALTER COLUMN "ID" SET DEFAULT nextval('public."connections_2_ID_seq"'::regclass);


--
-- Name: object_table_2 ID; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.object_table_2 ALTER COLUMN "ID" SET DEFAULT nextval('public."object_table_2_ID_seq"'::regclass);


--
-- Name: type_table id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.type_table ALTER COLUMN id SET DEFAULT nextval('public."typeMenNy_id_seq"'::regclass);


--
-- Data for Name: alternativ4; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: connections4; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: connections_2; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.connections_2 (node1, node2, "ID") FROM stdin;
2	3	1
3	4	2
4	5	3
2	6	4
6	7	5
6	8	6
8	9	7
8	10	8
10	11	9
11	12	10
12	13	11
13	14	12
8	15	13
15	16	14
15	17	15
17	18	16
18	19	17
18	20	18
20	21	19
20	22	20
22	23	21
22	24	22
24	25	23
25	26	24
26	27	25
24	28	26
28	29	27
28	30	28
30	31	29
30	32	30
32	33	31
27	37	32
\.


--
-- Data for Name: object_table_2; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: type_table; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.type_table (value, id) FROM stdin;
WBC1	1
WBC2	2
WBC3	3
WBC4	4
QBA1	5
QBA2	6
QBA3	7
QBA4	8
UAA1	9
UAA2	10
KL1	11
KL2	12
JE1	13
JE2	14
JE3	15
KL3	16
KL4	17
\.


--
-- Name: alternativ4_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.alternativ4_id_seq', 126, true);


--
-- Name: connections4_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.connections4_id_seq', 74, true);


--
-- Name: connections_2_ID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."connections_2_ID_seq"', 32, true);


--
-- Name: object_table_2_ID_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."object_table_2_ID_seq"', 37, true);


--
-- Name: typeMenNy_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."typeMenNy_id_seq"', 17, true);


--
-- Name: type_men_ny_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.type_men_ny_id_seq', 1, false);


--
-- Name: alternativ4 alternativ4_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alternativ4
    ADD CONSTRAINT alternativ4_pkey PRIMARY KEY (id);


--
-- Name: connections4 connections4_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.connections4
    ADD CONSTRAINT connections4_pkey PRIMARY KEY (id);


--
-- Name: connections_2 connections_2_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.connections_2
    ADD CONSTRAINT connections_2_pkey PRIMARY KEY ("ID");


--
-- Name: object_table_2 object_table_2_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.object_table_2
    ADD CONSTRAINT object_table_2_pkey PRIMARY KEY ("ID");


--
-- Name: type_table type_men_ny_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.type_table
    ADD CONSTRAINT type_men_ny_pkey PRIMARY KEY (id);


--
-- Name: type_table value_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.type_table
    ADD CONSTRAINT value_unique UNIQUE (value);


--
-- Name: connections_2 connections_2_node1_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.connections_2
    ADD CONSTRAINT connections_2_node1_fkey FOREIGN KEY (node1) REFERENCES public.object_table_2("ID") NOT VALID;


--
-- Name: connections_2 connections_2_node2_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.connections_2
    ADD CONSTRAINT connections_2_node2_fkey FOREIGN KEY (node2) REFERENCES public.object_table_2("ID") NOT VALID;


--
-- Name: connections4 node1_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.connections4
    ADD CONSTRAINT node1_fk FOREIGN KEY (node1) REFERENCES public.alternativ4(id) NOT VALID;


--
-- Name: connections4 node2_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.connections4
    ADD CONSTRAINT node2_fk FOREIGN KEY (node2) REFERENCES public.alternativ4(id) NOT VALID;


--
-- Name: object_table_2 object_table_2_type_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.object_table_2
    ADD CONSTRAINT object_table_2_type_fkey FOREIGN KEY (type) REFERENCES public.type_table(value) NOT VALID;


--
-- Name: alternativ4 type_value; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alternativ4
    ADD CONSTRAINT type_value FOREIGN KEY (type) REFERENCES public.type_table(value) NOT VALID;


--
-- PostgreSQL database dump complete
--

