--
-- PostgreSQL database dump
--

-- Dumped from database version 16.2
-- Dumped by pg_dump version 16.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: ltree; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS ltree WITH SCHEMA public;


--
-- Name: EXTENSION ltree; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION ltree IS 'data type for hierarchical tree-like structures';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: object; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.object (
    rd public.ltree NOT NULL,
    id integer NOT NULL,
    type text
);


ALTER TABLE public.object OWNER TO postgres;

--
-- Name: alternativ4_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.alternativ4_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.alternativ4_id_seq OWNER TO postgres;

--
-- Name: alternativ4_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.alternativ4_id_seq OWNED BY public.object.id;


--
-- Name: connection; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.connection (
    id integer NOT NULL,
    object1 integer,
    object2 integer
);


ALTER TABLE public.connection OWNER TO postgres;

--
-- Name: connections4_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.connections4_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.connections4_id_seq OWNER TO postgres;

--
-- Name: connections4_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.connections4_id_seq OWNED BY public.connection.id;


--
-- Name: type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.type (
    value text NOT NULL,
    id integer NOT NULL
);


ALTER TABLE public.type OWNER TO postgres;

--
-- Name: typeMenNy_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."typeMenNy_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."typeMenNy_id_seq" OWNER TO postgres;

--
-- Name: typeMenNy_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."typeMenNy_id_seq" OWNED BY public.type.id;


--
-- Name: type_men_ny_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.type_men_ny_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.type_men_ny_id_seq OWNER TO postgres;

--
-- Name: type_men_ny_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.type_men_ny_id_seq OWNED BY public.type.id;


--
-- Name: connection id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.connection ALTER COLUMN id SET DEFAULT nextval('public.connections4_id_seq'::regclass);


--
-- Name: object id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.object ALTER COLUMN id SET DEFAULT nextval('public.alternativ4_id_seq'::regclass);


--
-- Name: type id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.type ALTER COLUMN id SET DEFAULT nextval('public."typeMenNy_id_seq"'::regclass);


--
-- Data for Name: connection; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: object; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.type (value, id) FROM stdin;
WBC1	1
WBC2	2
WBC3	3
WBC4	4
QBA1	5
QBA2	6
QBA3	7
QBA4	8
UAA1	9
UAA2	10
KL1	11
KL2	12
JE1	13
JE2	14
JE3	15
KL3	16
KL4	17
\.


--
-- Name: alternativ4_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.alternativ4_id_seq', 126, true);


--
-- Name: connections4_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.connections4_id_seq', 74, true);


--
-- Name: typeMenNy_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."typeMenNy_id_seq"', 17, true);


--
-- Name: type_men_ny_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.type_men_ny_id_seq', 1, false);


--
-- Name: object alternativ4_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.object
    ADD CONSTRAINT alternativ4_pkey PRIMARY KEY (id);


--
-- Name: connection connections4_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.connection
    ADD CONSTRAINT connections4_pkey PRIMARY KEY (id);


--
-- Name: type type_men_ny_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.type
    ADD CONSTRAINT type_men_ny_pkey PRIMARY KEY (id);


--
-- Name: type value_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.type
    ADD CONSTRAINT value_unique UNIQUE (value);


--
-- Name: connection node1_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.connection
    ADD CONSTRAINT node1_fk FOREIGN KEY (object1) REFERENCES public.object(id) NOT VALID;


--
-- Name: connection node2_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.connection
    ADD CONSTRAINT node2_fk FOREIGN KEY (object2) REFERENCES public.object(id) NOT VALID;


--
-- Name: object type_value; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.object
    ADD CONSTRAINT type_value FOREIGN KEY (type) REFERENCES public.type(value) NOT VALID;


--
-- PostgreSQL database dump complete
--

